/*
    =========== Global ===========
    =========== Header ===========
    ========= MAIN BANNER ========
    ========= TRENDING PRODUCTS ========
    =========== Footer ===========
*/

/*
    =========== Header ===========
*/
    .container {
        --tms-gutter-x: 50px;
        width: 80%;
        padding-right: var(--tms-gutter-x, 25px);
        padding-left: var(--tms-gutter-x, 25px);
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        --tms-gutter-x: 0;
        --tms-gutter-y: 0;
        margin-top: calc(var(--tms-gutter-y) * -1);
        margin-right: calc(var(--tms-gutter-x) * -.5);
        margin-left: calc(var(--tms-gutter-x) * -.5);
    }
/*
    =========== Header ===========
*/
    #root header.site-header {
        background: #000;
        color: #fff;
        height: 100%;
    }

    #root .site-header .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    #root .site-header .site-menu {
        margin: 0;
        padding: 0;
        background: #000000;
    }

    #root .site-header .site-menu .nav-item a {
        text-decoration: none;
        color: #fff;
        padding: 4px 8px;
    }

    #root .site-header .site-menu .nav-item.active a {
        border-width: 0 0 2px 0;
        border-bottom: rgb(3, 172, 3);
        border-style: solid;
    }

    #root .site-header .site-menu .nav-item a:hover {
        background: rgb(3, 172, 3);
        box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
    }

    .site-header .site-actions {
        display: flex;
    }

    .site-header .site-actions .cart-popup-wrapper {
        position: absolute;
        width: 17%;
        left: 78%;
        z-index: 9;
        background: #fff;
    }

    .site-header .cart-popup-wrapper .item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 10px 0;
        color: #000;
    }

    .site-header .cart-popup-wrapper .checkout-button {
        display: block;
        text-align: center;
        padding: 6px 12px;
        background: rgb(3, 172, 3);
        border: none;
        border-radius: 3px;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .cart-popup-wrapper .item .post-title {
        font-size: 15px;   
    }

    .cart-popup-wrapper .item .post-price {
        font-size: 13px;
    }

    .cart-popup-wrapper .item .quantity-button {
        background: none;
        border: none;
        font-size: 12px;
        cursor: pointer;
    }

    .cart-popup-wrapper .item .increase {
        background: green;
        padding: 3px 5px;
    }

    .cart-popup-wrapper .item .quantity-indicator {
        font-size: 12px;
        margin: 0 5px;
        background: #000;
        color: #fff;
        padding: 3px 5px;
    }

    .cart-popup-wrapper .item .decrease {
        background: red;
        padding: 3px 5px;
    }

    .site-header .cart-popup-wrapper .post-thumb-wrapper.no-post-thumb {
        background: rgba(135, 135, 135, 0.713);
        height: 80px;
        width: 80px;
    }

    .site-header .site-actions .site-action {
        margin: 0 10px;
    }

/*
    =========== CATEGORY COLLECTION ===========
*/
    .swt-category-collection {
        margin: 20px 0;    
    }

    .swt-category-collection .categories-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        /* align-items: center;
        justify-content: space-between; */
        /* gap: 10px; */
    }

    .swt-category-collection .category {
        list-style: none;
        /* display: flex; */
        /* align-items: center;
        justify-content: space-evenly; */
        /* gap: 25px; */
        border: 1px solid #c4c4c495;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0px 0px 20px 0px rgba(151, 153, 151, 0.292);
        font-size: 20px;
    }

    .swt-category-collection .category .cat-thumb-wrapper.no-image {
        height: 80px;
        width: 80px;
        background: #a4a4a4;
        border-radius: 100px;
    }

    /*
    ========= MAIN BANNER ========
    */
    #root .swt-main-banner {
        margin-bottom: 30px;
    }

    .swt-main-banner .main-banner-wrapper {
        height: 50%;
    }

    .swt-main-banner .main-banner-wrapper .swiper {
        width: 100%;
        height: 50%;
    }
        
    .swt-main-banner .main-banner-wrapper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
        
    .swt-main-banner .main-banner-wrapper .swiper-slide .thumbnail-wrapper {
        height: 500px;
        width: 100%;
        position: relative;
    }

    .swt-main-banner .main-banner-wrapper .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swt-main-banner .main-banner-wrapper .thumbnail-wrapper .post-elements {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        background: #000000b3;
        padding: 5% 10%;
    }

    .swt-main-banner .main-banner-wrapper .thumbnail-wrapper .post-elements .post-title {
        margin-bottom: 10px;
    }

    /*
    ========= TRENDING PRODUCTS ========
    */
    .swt-trending-products .section-header {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .swt-trending-products .section-menu {
        text-align: center;
    }

    .swt-trending-products .section-menu .menu-item {
        font-size: 15px;
        background: none;
        border: none;
        padding: 10px;
        margin: 0 10px;
        margin-bottom: 20px;
        font-weight: lighter;
        cursor: pointer;
    }

    .swt-trending-products .section-menu .menu-item.active,
    .swt-trending-products .section-menu .menu-item:hover {
        background: #000;
        color: #fff;
    }

    .swt-trending-products .thumbnail-wrapper {
        width: 300px;
        height: 400px;
        margin-bottom: 10px;
    }

    .swt-trending-products .thumbnail-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .swt-trending-products .post-title {
        font-size: 18px;
    }

    .swt-trending-products .post-excerpt,
    .swt-trending-products .post-price {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: lighter;
    }

    .swt-trending-products .section-pagination {
        text-align: center;
    }

    .swt-trending-products .section-pagination .pagination-item {
        margin: 0 10px;
        padding: 6px;
        border: none;
        font-size: 15px;
    }

    .swt-trending-products .pagination-item .button-label {
        margin: 0 5px;
    }

    .swt-trending-products .pagination-item.prev {
        background: rgba(255, 0, 0, 0.691);
    }

    .swt-trending-products .pagination-item.next {
        background: rgba(0, 249, 0, 0.74);
    }

    /*
    =========== Footer ===========
    */
    .site-footer {
        margin-top: 40px;
        height: 250px;
        width: 100%;
        background: black;
    }