/*
    =========== Global ===========
    =========== Header ===========
    =========== Footer ===========
*/

/*
    =========== Header ===========
*/
    .container {
        --tms-gutter-x: 50px;
        width: 100%;
        padding-right: var(--tms-gutter-x, 25px);
        padding-left: var(--tms-gutter-x, 25px);
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        --tms-gutter-x: 1.5rem;
        --tms-gutter-y: 0;
        margin-top: calc(var(--tms-gutter-y) * -1);
        margin-right: calc(var(--tms-gutter-x) * -.5);
        margin-left: calc(var(--tms-gutter-x) * -.5);
    }
/*
    =========== Header ===========
*/
    #root .site-header .row {
        display: flex;
        justify-content: space-between;
    }

    