/*
    =========== Global ===========
    =========== Header ===========
    =========== Footer ===========
*/

/*
    =========== Header ===========
*/
    .container {
        --tms-gutter-x: 50px;
        width: 90%;
        padding-right: var(--tms-gutter-x, 25px);
        padding-left: var(--tms-gutter-x, 25px);
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        --tms-gutter-x: 1.5rem;
        --tms-gutter-y: 0;
        margin-top: calc(var(--tms-gutter-y) * -1);
        margin-right: calc(var(--tms-gutter-x) * -.5);
        margin-left: calc(var(--tms-gutter-x) * -.5);
    }
/*
    =========== Header ===========
*/
    #root .site-header .row {
        display: flex;
        justify-content: space-between;
    }

    #root .site-header .site-menu {
        margin: 0;
        padding: 0;
        background: #000000;
    }

    #root .site-header .site-menu .nav-item a {
        text-decoration: none;
        color: #fff;
        padding: 14px 16px;
    }

    #root .site-header .site-menu .nav-item.active a {
        background: rgb(3, 172, 3);
    }

    #root .site-header .site-menu .nav-item a:hover {
        background: rgb(3, 172, 3);
        box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
    }

    