    /*
    ==========================
    DASHBOARD
    ==========================
    */
        * {
            margin: 0;
            padding: 0;
            font-weight: 600;
            box-sizing: border-box;
        }

        h2, th {
            font-family: Outfit;
        }

        button, input[type="submit"], input[type="text"], a {
            font-family: Outfit;
        }

        p, span, td, li, div {
            font-family: Jost;
            font-weight: 500;
        }

        #root {
            /* position: relative; */
        }

        #root #swt-dashboard {
            display: flex;
        }

        #root .editor-overlay {
            width: 100%;
            position: absolute;
            content: '';
            background: #000000a6;
            height: 100%;
            top: 0;
            left: 0;
        }

        /*========= SIDEBAR ===========*/
        #swt-dashboard .swt-admin-sidebar.active {
            flex: 0;
            width: 50px;
        }

        #swt-dashboard .swt-admin-sidebar {
            flex: 0 1 13%;
            background: #5125d2;
            min-height: 100vh;
        }

        /*=========== SIDEBAR HEAD =============*/
        .swt-admin-sidebar .sidebar-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            padding: 0 15px;
        }

        .swt-admin-sidebar .sidebar-head svg.off-canvas:hover {
            color: #fff;
            cursor: pointer;
        }

        /*=========== SIDEBAR BODY =============*/
        .swt-admin-sidebar .sidebar-body .sidebar-items a {
            text-decoration: none;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item {
            list-style: none;
            padding: 15px;
            font-size: 15px;
            color: #fff;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item svg {
            margin-right: 10px;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item:not(:last-child) {
            border-bottom: 1px solid #ffffff;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item:hover {
            background: #ffa5a56b;
            cursor: pointer;
            color: #000000;
        }

        /*========= ADMIN MAIN ==========*/
        #swt-dashboard .swt-admin-main {
            flex: 0 1 100%;
            padding: 15px 30px;
        }

        /*========= PRODUCTS =============*/    
        .swt-admin-main .admin-products .product-add,
        .swt-user-page .add-user {
            border: 1px dashed blue;
            background: transparent;
            padding: 5px 10px;
            color: blue;
            cursor: pointer;
            font-size: 15px;
        }

        .swt-admin-main .admin-products .product-add:hover,
        .swt-user-page .add-user:hover {
            border: 1px dashed rgba(255, 0, 123, 0.403);
            color: rgba(255, 0, 123, 0.403);
            box-shadow: 0 0 3px rgba(255, 0, 123, 0.403);
        }

        .admin-products .page-head .date-search-wrap {
            display: flex;
            flex-direction: column;
        }

        /*================== LOGIN ==================*/
        #swt-admin-login {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-login .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-login .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-login .form-field .label-error-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #swt-admin-login .form-field .label-error-wrap .error-message {
            margin-bottom: 3px;
            color: red;
        }

        #swt-admin-login .form-field .form-label {
            margin-right: 10px;
            font-weight: 700;
            font-size: 13px;
        }

        #swt-admin-login .form-field .form-required {
            color: #ff0000;
        }

        #swt-admin-login .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-login .form-field.form-button {
            text-align: center;
        }

        #swt-admin-login .form-field.form-button input[type=submit] {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
            cursor: pointer;
        }

        #swt-admin-login .form-field.form-button input[type=submit]:hover {
            background: #02be02b8;
        }

        #swt-admin-login .register-new-admin,
        #swt-admin-login .forgot-password {
            text-align: center
        }

        #swt-admin-login .register-new-admin a,
        #swt-admin-login .forgot-password a {
            text-decoration: none;
        }

        #swt-admin-login .register-new-admin a:hover,
        #swt-admin-login .forgot-password a:hover {
            color: green;
        }

    /*================== REGISTRATION ==================*/
        #swt-admin-registration {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-registration .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-registration .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-registration .form-field label {
            margin-bottom: 3px;
        }

        #swt-admin-registration .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-registration .form-field.form-button {
            text-align: center;
        }

        #swt-admin-registration .form-field.form-button button {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
        }

        #swt-admin-registration .form-field.form-button button:hover {
            background: #02be02b8;
        }

        #swt-admin-registration .form-field.form-button button a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
            padding: inherit;
        }
        
    /*================== FORGOT PASSWORD ==================*/
        #swt-admin-forgot-password {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-forgot-password .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-forgot-password .form-field label {
            margin-bottom: 3px;
        }

        #swt-admin-forgot-password .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .form-field.form-button {
            text-align: center;
        }

        #swt-admin-forgot-password .form-field.form-button button {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .form-field.form-button button:hover {
            background: #02be02b8;
        }

        #swt-admin-forgot-password .form-field.form-button button a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
        }

    /*================== EDITOR ========================*/
        #swt-admin-editor {
            position: absolute;
            background: #5125d2;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #swt-admin-editor .editor-popup {
            overflow-y: scroll;
            height: 500px;
        }

        #swt-admin-editor .editor-inner {
            position: relative;
        }

        #swt-admin-editor .editor-inner .editor-close {
            position: absolute;
            right: 0;
            top: -35px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

        #swt-admin-editor:before {
            position: absolute;
            content: '';
        }

        #swt-admin-editor .editor-area {
            display: grid;
            grid-template-columns: 80% 20%;
        }

        #swt-admin-editor .editor-area .editor-main {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }

        #swt-admin-editor .editor-main input,
        #swt-admin-editor .editor-main textarea {
            border: none;
            width: 100%;
            margin-bottom: 10px;
            background: transparent;
            font-size: 20px;
            padding: 10px;
            border: 1px solid #00000050;
            border-radius: 3px;
        }

        #swt-admin-editor .editor-main textarea {
            resize: none;
        }

        #swt-admin-editor .editor-main input::placeholder {
            color: white;
        }

        #swt-admin-editor .editor-sidebar {
            text-align: center;
            background: #5a2aeb;
        }

        #swt-admin-editor .editor-sidebar button.editor-submit {
            width: 150px;
            height: 40px;
            margin-bottom: 20px;
            margin-top: 15px;
            background-color: rgb(11, 189, 11);
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            color: #fff;
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
            cursor: pointer;
        }

        #swt-admin-editor .sidebar-element {
            background: #5125d2;
            color: white;
            padding: 10px;
            cursor: pointer;
        }

        #swt-admin-editor .sidebar-element.isactive,
        #swt-admin-editor .sidebar-element:hover {
            background: #5b222238;
        }

    /*=========== EDITOR SIDEBAR ==============*/
        #swt-admin-editor .sidebar-element.taxonomy .element-body {
            font-size: 15px;
            display: none;
        }

        #swt-admin-editor .sidebar-element.taxonomy.isactive .element-body {
            display: block;
        }

        #swt-admin-editor .sidebar-element.taxonomy input[type="text"] {
            padding: 5px;
            margin-bottom: 10px;
            margin-top: 5px;
            border: none;
        }

        #swt-admin-editor .sidebar-element.taxonomy .taxonomy-list {
            margin-bottom: 10px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .taxonomy-item {
            display: flex;
            align-items: flex-end;
            gap: 12px;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .add-new-taxonomy {
            border: 1px solid #d8ff00;
            background: none;
            padding: 7px 10px;
            color: #d8ff00;
            cursor: pointer;
            border-radius: 4px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .add-new-taxonomy:hover {
            background: #ffff002b;
        }

        .swt-admin-main table.products-wrap,
        .swt-admin-main table.users-wrap {
            border-collapse: collapse;
            margin: 15px 0;
            font-size: 0.9em;
            min-width: 400px;
            width: 100%;
            text-align: left;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .swt-admin-main table.users-wrap .head-item.title,
        .swt-admin-main table.users-wrap .body-item.title,
        .swt-admin-main table.products-wrap .head-item.title,
        .swt-admin-main table.products-wrap .body-item.title {
            width: 300px;
            text-align: left;
            font-weight: 600;
        }

        .swt-admin-main table.products-wrap .body-item.title {
            cursor: pointer;
        }

        .swt-admin-main table.products-wrap .body-item.title .post-title {
            font-weight: 600;
        }

        .swt-admin-main table.products-wrap .body-item.title .post-title:hover {
            color: var(--hover-color)
        }
        
        .swt-admin-main table.users-wrap .head-item,
        .swt-admin-main table.users-wrap .body-item,
        .swt-admin-main table.products-wrap .head-item,
        .swt-admin-main table.products-wrap .body-item {
            padding: 12px 15px;
            text-align: center;
        }

        .swt-admin-main table.users-wrap .body-item.username,
        .swt-admin-main table.products-wrap .body-item.page-title {
            font-weight: 600;
        }
        
        .swt-admin-main table.users-wrap .body-item.user,
        .swt-admin-main table.products-wrap .body-item.user {
            font-weight: 600;
        }

        .swt-admin-main .report-table-wrapper .body-item .order-status-label {
            padding: 3px 5px;
            color: #fff;
            border-radius: 3px;
        }

        .swt-admin-main .report-table-wrapper .body-item.pending {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .swt-admin-main .report-table-wrapper .body-item.pending .order-status-cancel {
            background: #ff0000;
            color: #fff;
            padding: 6px 7px;
            cursor: pointer;
            border-radius: 3px;
        }

        .swt-admin-main .report-table-wrapper .body-item.pending .order-status-complete {
            background: rgb(2, 180, 2);
            color: #fff;
            padding: 6px 7px;
            cursor: pointer;
            border-radius: 3px;
        }

        .swt-admin-main .report-table-wrapper .body-item.pending .order-status-complete:hover {
            box-shadow: 0px 0px 10px 0px rgb(2, 180, 2);
        }

        .swt-admin-main .report-table-wrapper .body-item.pending .order-status-cancel:hover {
            box-shadow: 0px 0px 10px 0px #ff0000;
        }

        .swt-admin-main table.products-wrap .body-item.pending .order-status-label {
            background: rgb(0, 170, 255);
        }

        .swt-admin-main table.products-wrap .body-item.completed .order-status-label {
            background: rgb(2, 180, 2);
        }

        .swt-admin-main table.products-wrap .body-item.cancelled .order-status-label {
            background: red;
        }

        .swt-admin-main table.users-wrap .no-users td,
        .swt-admin-main table.products-wrap .no-products td {
            text-align: center;

        }

        .swt-admin-main table.users-wrap .head-item,
        .swt-admin-main table.products-wrap .head-item {
            background: #5125d2;
            font-weight: bold;
            color: white;
        }

        .swt-admin-main table.users-wrap .users-element,
        .swt-admin-main table.products-wrap .products-element {
            border-bottom: 1px solid #dddddd;
        }
        
        .swt-admin-main table.users-wrap .users-element:nth-child(even),
        .swt-admin-main table.products-wrap .products-element:nth-child(even) {
            background: #f3f3f3;
        }

        .swt-admin-main table.users-wrap .users-element:last-of-type,
        .swt-admin-main table.products-wrap .products-element:last-of-type {
            border-bottom: 2px solid #5125d2;
        }

        .swt-admin-main .status-time-wrap {
            margin-top: 10px;
        }

        .swt-admin-main .status-time-wrap .page-head,
        .swt-admin-main .status-time-wrap .date-search-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .swt-admin-main .status-time-wrap .status-list {
            display: inline-block;
            text-align: center;
            background: #5125d2;
            color: white;
            border-radius: 5px;
            overflow: hidden;
            margin-top: 8px;
        }
        
        .swt-admin-main .status-time-wrap .status-list .status-item {
            width: 100px;
            display: inline-block;
            line-height: 35px;
            cursor: pointer;
            font-size: 0.9em;
        }

        .swt-admin-main .status-time-wrap .status-list .status-item.active,
        .swt-admin-main .status-time-wrap .status-list .status-item:hover {
            background: rgb(2, 180, 2);
        }

        .swt-admin-main .status-time-wrap input[type="search"]{
            margin-top: 8px;
        }
        .swt-admin-main .status-time-wrap input[type="search"]{
            padding: 8px;
            margin-right: 5px;
            border: 1px solid #5125d2;
            border-radius: 5px;
        }

        .swt-admin-main .status-time-wrap input[type="submit"]{
            padding: 7px;
            background: #5125d2;
            border: 1px solid #5125d2;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .swt-admin-main .sidebar-element.featured-image.isactive .element-body {
            height: 140px;
            border: 2px dashed #9d9d9d;
            margin: 10px;
        }

        .swt-admin-main .sidebar-element.featured-image .post-thumbnail-wrapper {
            display: none;
        }
        .swt-admin-main .sidebar-element.featured-image.isactive .post-thumbnail-wrapper {
            display: block;
            height: 100%;
            width: 100%;
        }

        .swt-admin-main .sidebar-element.featured-image.isactive .post-thumbnail-wrapper img.post-thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        /*
        =============================
        ACTIONS WRAPPER
        =============================
        */
        #root .body-item.action-item .actions-wrapper {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        #root .body-item.action-item .actions-wrapper .action {
            padding: 4px 8px;;
            cursor: pointer;
            border: none;
            color: #fff;
            border-radius: 3px;
        }

        #root .body-item.action-item .actions-wrapper .action.edit {
            background: rgb(2, 180, 2);
            box-shadow: 0px 0px 5px 0px rgb(2, 180, 2);
        }

        #root .body-item.action-item .actions-wrapper .action.trash {
            background: rgb(194, 3, 3);
            box-shadow: 0px 0px 5px 0px rgb(194, 3, 3);
        }

        /*
        ========================
        META
        ========================
        */
        #root .meta {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        #root .meta input[type="text"] {
            width: 3%;
            border-color: #fff;
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            color: #fff
        }

        #root input[type="number"] {
            width: 150px;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 3px;
            color: #fff;
        }

        #root .meta label {
            width: 100px;
            color: #fff;
            font-size: 16px;
        }

        /*
        ===========================
        SETTINGS PAGE
        ===========================
        */
        #root .swt-admin-main .page-header {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        #root .swt-admin-main .save-settings {
            color: var(--hover-color);
            border: 1px dashed var(--hover-color);
            padding: 5px 20px;
            cursor: pointer;
            background: var(--hover-color);
            border-radius: 3px;
            color: #fff;
            transition: transform 0.2s;
        }

        #root .swt-admin-main .save-settings:hover {
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
            transform: scale(1.05);
        }

        #root .swt-admin-main .api-wrapper {
            margin: 10px 0 20px 0;
            background: #5125d2;
            color: #fff;
            padding: 20px;
        }

        #root .swt-admin-main .api-wrapper input {
            padding: 10px;
            width: 30%;
            margin-top: 10px;
            border-radius: 3px;
            border: 1px solid black;
        }

        /*
        ===============================
        MEDIA
        ===============================
        */
        #root .media-wrapper #media-form:hover {
            background: #a0a0a02f;
        }

        #root .media-wrapper .media-collection-wrapper,
        #swt-admin-editor .media-collection-wrapper {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(7, 1fr);
        }

        #root .media-wrapper .media-collection-wrapper .image-wrapper,
        #swt-admin-editor .media-collection-wrapper  .image-wrapper {
            width: 100%;
            height: 100%;
        }

        #root .media-wrapper .media-collection-wrapper .thumb,
        #swt-admin-editor .media-collection-wrapper  .thumb {
            width: 100%;
            height: 100%;
            /* border: 2px solid #ff3d0036; */
            border-radius: 13px;
            box-shadow: 4px 7px 7px 0px #00000042;
            cursor: pointer;
            transition: 400ms;
            object-fit: cover;
            display: block;
        }

        #root .media-wrapper .media-collection-wrapper .thumb:hover,
        #swt-admin-editor .media-collection-wrapper  .thumb:hover {
            filter: grayscale(1);
            transform: scale(1.03);
        }

        #root .media-wrapper .upload-wrapper {
            margin: 20px 0;
            border: 2px dashed #000;
            padding: 50px;
        }

        #root .media-wrapper .upload-wrapper:hover .overlay-wrapper {
            width: 100%;
            height: 100%;
            background-color: blue;
            z-index: 2;
        }

        #swt-admin-editor .media-collection-wrapper {
            justify-content: center;
            position: absolute;
            width: 88%;
            top: 50%;
            left: 50%;
            background: #fff;
            transform: translate(-50%, -50%);
            padding: 10px;
        }

        #root .media-wrapper .upload-wrapper span {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }

        #root .media-wrapper .upload-wrapper span.icon-wrapper {
            font-size: 50px;
            color: rgb(11, 189, 11);
        }

        #root .media-wrapper .upload-wrapper span.sub-title {
            font-size: 25px;
        }

        #root .media-wrapper .upload-wrapper span.description {
            font-size: 13px;
            color: #898989
        }

        /*
        =========================
        DELETE POPUP
        =========================
        */
        #root .delete-popup-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            background: rgba(124, 120, 120, 0.619);
            width: 100%;
            height: 100%;
        }

        .delete-popup-wrapper .delete-popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            background-color: white;
            padding: 20px;
        }

        .delete-popup-wrapper .delete-popup-content h2.title {
            margin-bottom: 20px;
        }

        .delete-popup-wrapper .delete-popup-content .delete-action-wrapper {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .delete-popup-wrapper .delete-action-wrapper button.action {
            padding: 10px 20px;
            border: none;
            color: #fff;
            cursor: pointer;
            border-radius: 3px;
        }

        .delete-popup-wrapper .delete-action-wrapper button.action.positive {
            background: rgb(2, 180, 2);
            box-shadow: 0px 0px 5px 0px rgb(2, 180, 2);
        }

        .delete-popup-wrapper .delete-action-wrapper button.action.negetive {
            background: rgb(194, 3, 3);
            box-shadow: 0px 0px 5px 0px rgb(194, 3, 3);
        }

        /*
        ======================
        YOUTUBE WRAPPER
        ======================
        */
        .swt-admin-main .repeater-wrapper {
            margin: 10px 0;
        }

        .swt-admin-main .repeater-wrapper .repeater-field {
            display: flex;
            gap: 10px;
            background-color: #5125d2;
            align-items: center;
            padding: 20px;
            color: #fff;
            margin-bottom: 10px;
        }

        .swt-admin-main .repeater-wrapper .repeater-field input {
            width: 40%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid black;
        }

        .swt-admin-main .repeater-wrapper .repeater-field .remove-url {
            background-color: #ff0000;
            padding: 10px 10px;
            border: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .swt-admin-main .repeater-wrapper .repeater-field .remove-url:hover {
            box-shadow: 0px 0px 20px 0px #ff0000;
            transform: scale(1.03);
        }

        .swt-admin-main .add-url {
            background-color: rgb(11, 189, 11);
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .swt-admin-main .add-url:hover {
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
            transform: scale(1.03);
        }

        /*
        ==========================
        REPORT PAGE
        ==========================
        */
        #report-section-wrappper .buttons-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        #report-section-wrappper .time-period-tabs-wrapper .time-period {
            padding: 10px 20px;
            border: none;
            background: #854848;
            color: white;
            cursor: pointer;
        }

        #report-section-wrappper .time-period-tabs-wrapper .time-period:not(.active):hover {
            background: rgb(2, 180, 2);
            box-shadow: 0px 0px 10px 0px rgb(2, 180, 2);
        }

        #report-section-wrappper .time-period-tabs-wrapper .time-period.active {
            background: rgb(2, 180, 2);
            padding:13px 20px;
        }

        #report-section-wrappper .download-button {
            padding: 10px 20px;
            border: none;
            background: #854848;
            color: white;
            cursor: pointer;
        }

        #report-section-wrappper .download-button:hover {
            box-shadow: 0px 0px 10px 0px #854848;
        }

        #report-section-wrappper .download-button .download-icon {
            margin-right: 10px;
        }

        /*
        ========================
        OVERLAY
        ========================
        */
        #root .full-page-overlay.active {
            background: #00000036;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 9;
        }

        /*
        =============================
        USER FORM ADMIN
        =============================
        */
        .swt-user-page .user-editor-popup,
        .swt-user-page .delete-popup-content {
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 20px;
            box-shadow: 0px 0px 20px 0px rgb(144, 147, 144);
            width: 30%;
        }

        .swt-user-page .user-editor-popup input[type="text"] {
            margin-top: 10px;
        }

        .swt-user-page .user-editor-popup .form-field {
            margin-bottom: 10px;
        }

        .swt-user-page .user-editor-popup .required-indicator {
            color: #ff0000;
        }

        .swt-user-page .user-editor-popup input {
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.249);
        }

        .swt-user-page .user-editor-popup .admin-role {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .swt-user-page .user-editor-popup .admin-role .form-label-wrapper {
            margin: 0;
        }

        .swt-user-page .user-editor-popup .radio-wrapper {
            display: flex;
            margin: 10px 0;
            gap: 10px;
        }

        .swt-user-page .user-editor-popup .radio-wrapper .radio-item {
            display: flex;
            gap: 3px;
        }

        .user-editor-popup .add-user-button {
            background-color: rgb(11, 189, 11);
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
        }

        .user-editor-popup .add-user-button:hover {
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
        }

        .swt-user-page .delete-popup-content h2.title {
            text-align: center;
            margin-bottom: 20px;
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper .action {
            padding: 7px 15px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper .positive {
            background:rgb(2, 180, 2);
            color: #fff;
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper .positive:hover {
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper .negetive {
            background:rgb(194, 3, 3);
            color: #fff;
        }

        .swt-user-page .delete-popup-content .delete-action-wrapper .negetive:hover {
            box-shadow: 0px 0px 20px 0px rgb(194, 3, 3);
        }

        /*
        =============================
        USER FORM USER
        =============================
        */
        #user-settings-page .title {
            margin-bottom: 20px;
        }

        #user-settings-page .form-field {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
        }

        #user-settings-page .form-field .form-label-wrapper {
            width: 120px;
        }
        
        #user-settings-page .form-field .required-indicator {
            color: #ff0000;
        }

        #user-settings-page .form-field input[type="text"] {
            padding: 10px;
            width: 400px;
            border-radius: 3px;
            border: 1px solid #69676758;
        }

        #user-settings-page .add-user-button {
            background-color: rgb(11, 189, 11);
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
        }

        #user-settings-page .add-user-button.is-disabled {
            cursor: not-allowed;
        }

        #user-settings-page .add-user-button:hover {
            box-shadow: 0px 0px 10px 0px rgb(11, 189, 11);
        }

        #user-settings-page .subscriber-update-success-popup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            background: rgb(11, 189, 11);
            padding: 50px;
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgb(11, 189, 11);
            z-index: 99;
        }

        /*
        ===========================
        USER DASHBOARD
        ===========================
        */
        #user-dashboard-page .page-header,
        #admin-dashboard-page .page-header {
            display: flex;
            justify-content: space-between;
        }

        #user-dashboard-page .page-header .toay-date,
        #admin-dashboard-page .page-header .toay-date {
            color: #5c5b5bc4;
        }

        #user-dashboard-page .chart-wrapper {
            display: flex;
            justify-content: space-around;
        }        

        #user-dashboard-page .user-piechart,
        #user-dashboard-page .user-doughnut {
            width: 30%;
        }

        #admin-dashboard-page .admin-barchart {
            width: 80%;
            display: flex;
            justify-content: center;
        }

        #user-dashboard-page .overview-wrapper,
        #admin-dashboard-page .overview-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin: 20px 0;
        }

        #user-dashboard-page .overview-item,
        #admin-dashboard-page .overview-item {
            padding: 10px;
            border: 1px solid black;
            width: 100%;
            text-align: center;
        }

        #root .visit-website {
            background-color: rgb(11, 189, 11);
            color: #fff;
            padding: 10px;
            border-radius: 3px;
        }
        
        #root .dashboard-logout {
            margin-left: 10px;
            background-color: #ff0000;
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }

        #root .visit-website:hover {
            box-shadow: 0px 0px 10px 0px rgb(11, 189, 11);
        }

        #root .dashboard-logout:hover {
            box-shadow: 0px 0px 10px 0px #ff0000;
        }