    /*
    ==========================
    DASHBOARD
    ==========================
    */
        * {
            margin: 0;
            padding: 0;
            font-weight: 600;
        }

        #root #swt-dashboard {
            display: flex;
        }

        #root .editor-overlay {
            width: 100%;
            position: absolute;
            content: '';
            background: #000000a6;
            height: 100%;
        }

        /*========= SIDEBAR ===========*/
        #swt-dashboard .swt-admin-sidebar.active {
            flex: 0;
            width: 50px;
        }

        #swt-dashboard .swt-admin-sidebar {
            flex: 0 1 13%;
            background: #5125d2;
            height: 100vh;
        }

        /*=========== SIDEBAR HEAD =============*/
        .swt-admin-sidebar .sidebar-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            padding: 0 15px;
        }

        .swt-admin-sidebar .sidebar-head svg.off-canvas:hover {
            color: #fff;
            cursor: pointer;
        }

        /*=========== SIDEBAR BODY =============*/
        .swt-admin-sidebar .sidebar-body .sidebar-items a {
            text-decoration: none;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item {
            list-style: none;
            padding: 15px;
            font-size: 15px;
            color: #fff;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item svg {
            margin-right: 10px;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item:not(:last-child) {
            border-bottom: 1px solid #ffffff;
        }

        .swt-admin-sidebar .sidebar-body .sidebar-item:hover {
            background: #ffa5a56b;
            cursor: pointer;
            color: #000000;
        }

        /*========= ADMIN MAIN ==========*/
        #swt-dashboard .swt-admin-main {
            flex: 0 1 100%;
            padding: 15px 30px;
        }

        /*========= PRODUCTS =============*/    
        .swt-admin-main .admin-products .product-add {
            border: 1px dashed blue;
            background: transparent;
            padding: 5px 10px;
            color: blue;
            cursor: pointer;
            font-size: 15px;
        }

        .swt-admin-main .admin-products .product-add:hover {
            border: 1px dashed rgba(255, 0, 123, 0.403);
            color: rgba(255, 0, 123, 0.403);
            box-shadow: 0 0 3px rgba(255, 0, 123, 0.403);
        }

        .admin-products .page-head .date-search-wrap {
            display: flex;
            flex-direction: column;
        }

        /*================== LOGIN ==================*/
        #swt-admin-login {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-login .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-login .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-login .form-field .label-error-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #swt-admin-login .form-field .label-error-wrap .error-message {
            margin-bottom: 3px;
            color: red;
        }

        #swt-admin-login .form-field label {
            margin-bottom: 3px;
        }

        #swt-admin-login .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-login .form-field.form-button {
            text-align: center;
        }

        #swt-admin-login .form-field.form-button input[type=submit] {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
            cursor: pointer;
        }

        #swt-admin-login .form-field.form-button input[type=submit]:hover {
            background: #02be02b8;
        }

        #swt-admin-login .register-new-admin,
        #swt-admin-login .forgot-password {
            text-align: center
        }

        #swt-admin-login .register-new-admin a,
        #swt-admin-login .forgot-password a {
            text-decoration: none;
        }

        #swt-admin-login .register-new-admin a:hover,
        #swt-admin-login .forgot-password a:hover {
            color: green;
        }

    /*================== REGISTRATION ==================*/
        #swt-admin-registration {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-registration .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-registration .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-registration .form-field label {
            margin-bottom: 3px;
        }

        #swt-admin-registration .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-registration .form-field.form-button {
            text-align: center;
        }

        #swt-admin-registration .form-field.form-button button {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
        }

        #swt-admin-registration .form-field.form-button button:hover {
            background: #02be02b8;
        }

        #swt-admin-registration .form-field.form-button button a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
            padding: inherit;
        }
        
    /*================== FORGOT PASSWORD ==================*/
        #swt-admin-forgot-password {
            background: #ffa5a599;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 30px;
            box-shadow: 0px 0px 30px 5px #00000038;
            width: 30%;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .title {
            margin-bottom: 10px;
            text-align: center;
            font-family: system-ui;
            font-weight: 700;
        }

        #swt-admin-forgot-password .form-field {
            margin-bottom: 10px;
            font-size: 16px;
            font-family: system-ui;
            font-weight: 500;
        }

        #swt-admin-forgot-password .form-field label {
            margin-bottom: 3px;
        }

        #swt-admin-forgot-password .form-field input {
            width: 100%;
            padding: 10px 0;
            margin-top: 8px;
            margin-bottom: 6px;
            border: 1px solid #00000057;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .form-field.form-button {
            text-align: center;
        }

        #swt-admin-forgot-password .form-field.form-button button {
            width: 100%;
            padding: 10px 30px;
            background: #008000b8;
            border:none;
            border-radius: 3px;
        }

        #swt-admin-forgot-password .form-field.form-button button:hover {
            background: #02be02b8;
        }

        #swt-admin-forgot-password .form-field.form-button button a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: system-ui;
        }

    /*================== EDITOR ========================*/
        #swt-admin-editor {
            position: absolute;
            background: #5125d2;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #swt-admin-editor .editor-inner {
            position: relative;
        }

        #swt-admin-editor .editor-inner .editor-close {
            position: absolute;
            right: 0;
            top: -35px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

        #swt-admin-editor:before {
            position: absolute;
            content: '';
        }

        #swt-admin-editor .editor-area {
            display: grid;
            grid-template-columns: 80% 20%;
        }

        #swt-admin-editor .editor-area .editor-main {
            display: flex;
            flex-direction: column;
            flex: 0 1 75%;
            padding: 30px;
        }

        #swt-admin-editor .editor-main input,
        #swt-admin-editor .editor-main textarea {
            border: none;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            background: transparent;
            font-size: 20px;
        }

        #swt-admin-editor .editor-main textarea {
            resize: none;
        }

        #swt-admin-editor .editor-main input::placeholder {
            color: white;
        }

        #swt-admin-editor .editor-sidebar {
            text-align: center;
            background: #5a2aeb;
        }

        #swt-admin-editor .editor-sidebar button.editor-submit {
            width: 150px;
            height: 40px;
            margin-bottom: 20px;
            margin-top: 15px;
            background-color: rgb(11, 189, 11);
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            color: #fff;
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
            cursor: pointer;
        }

        #swt-admin-editor .sidebar-element {
            background: #5125d2;
            color: white;
            padding: 10px;
            cursor: pointer;
        }

        #swt-admin-editor .sidebar-element.isactive,
        #swt-admin-editor .sidebar-element:hover {
            background: #5b222238;
        }

    /*=========== EDITOR SIDEBAR ==============*/
        #swt-admin-editor .sidebar-element.taxonomy .element-body {
            font-size: 15px;
            display: none;
        }

        #swt-admin-editor .sidebar-element.taxonomy.isactive .element-body {
            display: block;
        }

        #swt-admin-editor .sidebar-element.taxonomy input[type="text"] {
            padding: 5px;
            margin-bottom: 10px;
            margin-top: 5px;
            border: none;
        }

        #swt-admin-editor .sidebar-element.taxonomy .taxonomy-list {
            margin-bottom: 10px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .taxonomy-item {
            display: flex;
            align-items: end;
            gap: 12px;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .add-new-taxonomy {
            border: 1px solid #d8ff00;
            background: none;
            padding: 7px 10px;
            color: #d8ff00;
            cursor: pointer;
            border-radius: 4px;
        }

        #swt-admin-editor .sidebar-element.taxonomy .add-new-taxonomy:hover {
            background: #ffff002b;
        }

        .swt-admin-main table.products-wrap,
        .swt-admin-main table.users-wrap {
            border-collapse: collapse;
            margin: 15px 0;
            font-size: 0.9em;
            min-width: 400px;
            width: 100%;
            text-align: left;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .swt-admin-main table.users-wrap .head-item,
        .swt-admin-main table.users-wrap .body-item,
        .swt-admin-main table.products-wrap .head-item,
        .swt-admin-main table.products-wrap .body-item {
            padding: 12px 15px;
            text-align: center;
        }

        .swt-admin-main table.users-wrap .no-users td,
        .swt-admin-main table.products-wrap .no-products td {
            text-align: center;

        }

        .swt-admin-main table.users-wrap .head-item,
        .swt-admin-main table.products-wrap .head-item {
            background: #5125d2;
            font-weight: bold;
            color: white;
        }

        .swt-admin-main table.users-wrap .users-element,
        .swt-admin-main table.products-wrap .products-element {
            border-bottom: 1px solid #dddddd;
        }
        
        .swt-admin-main table.users-wrap .users-element:nth-child(even),
        .swt-admin-main table.products-wrap .products-element:nth-child(even) {
            background: #f3f3f3;
        }

        .swt-admin-main table.users-wrap .users-element:last-of-type,
        .swt-admin-main table.products-wrap .products-element:last-of-type {
            border-bottom: 2px solid #5125d2;
        }

        .swt-admin-main .status-time-wrap {
            margin-top: 10px;
        }

        .swt-admin-main .status-time-wrap .page-head,
        .swt-admin-main .status-time-wrap .date-search-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .swt-admin-main .status-time-wrap .status-list {
            display: inline-block;
            text-align: center;
            background: #5125d2;
            color: white;
            border-radius: 5px;
            overflow: hidden;
            margin-top: 8px;
        }
        
        .swt-admin-main .status-time-wrap .status-list .status-item {
            width: 100px;
            display: inline-block;
            line-height: 35px;
            cursor: pointer;
            font-size: 0.9em;
        }

        .swt-admin-main .status-time-wrap .status-list .status-item.active,
        .swt-admin-main .status-time-wrap .status-list .status-item:hover {
            background: rgb(2, 180, 2);
        }

        .swt-admin-main .status-time-wrap input[type="search"]{
            margin-top: 8px;
        }
        .swt-admin-main .status-time-wrap input[type="search"]{
            padding: 8px;
            margin-right: 5px;
            border: 1px solid #5125d2;
            border-radius: 5px;
        }

        .swt-admin-main .status-time-wrap input[type="submit"]{
            padding: 7px;
            background: #5125d2;
            border: 1px solid #5125d2;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .swt-admin-main .sidebar-element.featured-image.isactive .element-body {
            height: 140px;
            border: 2px dashed #9d9d9d;
            margin: 10px;
        }

        /*
        =============================
        ACTIONS WRAPPER
        =============================
        */
        #root .body-item.action-item .action-icon {
            cursor: pointer;
        }

        #root .body-item.action-item {
            position: relative;
        }
        #root .actions-wrapper {
            position: absolute;
            left: -20px;
            top: -20px;
            background-color: #5125d2;
            color: #fff;
            box-shadow: 1px 1px 5px 3px #00000063;
        }

        #root .actions-wrapper .action {
            cursor: pointer;
            list-style: none;
            border-bottom: 1px solid black;
            text-align: center;
            padding: 5px 15px;
        }

        /*
        ========================
        META
        ========================
        */
        #root .meta {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        #root .meta input {
            width: 3%;
            border-color: #fff;
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            color: #fff
        }

        #root .meta label {
            flex: 0 1 5%;
            color: #fff;
        }

        /*
        ===========================
        SETTINGS PAGE
        ===========================
        */
        #root .swt-admin-main .save-settings {
            background-color: rgb(11, 189, 11);
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            color: #fff;
            box-shadow: 0px 0px 20px 0px rgb(11, 189, 11);
            cursor: pointer;
        }

        #root .swt-admin-main .api-wrapper {
            margin: 10px 0 20px 0;
            background: #5125d2;
            color: #fff;
            padding: 20px;
        }

        #root .swt-admin-main .api-wrapper input {
            padding: 10px;
            width: 30%;
            margin-top: 10px;
            border-radius: 3px;
            /* background: transparent; */
            border: 1px solid black;
            /* border-bottom: 1px solid white; */
        }

        /*
        ===============================
        MEDIA
        ===============================
        */
        #root .media-wrapper .media-collection-wrapper,
        #swt-admin-editor .media-collection-wrapper {
            /* margin-top: 30px; */
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        #root .media-wrapper .media-collection-wrapper .thumb,
        #swt-admin-editor .media-collection-wrapper  .thumb {
            width: 200px;
            height: 200px;
            border: 2px solid #ff3d0036;
            border-radius: 13px;
            box-shadow: 4px 7px 7px 0px #00000042;
            cursor: pointer;
            margin: 10px;
            transition: 400ms;
            object-fit: cover;
        }

        #root .media-wrapper .media-collection-wrapper .thumb:hover,
        #swt-admin-editor .media-collection-wrapper  .thumb:hover {
            filter: grayscale(1);
            transform: scale(1.03);
        }

        #root .media-wrapper .upload-wrapper {
            margin: 20px 0;
            border: 2px dashed #000;
            padding: 50px;
        }

        #root .media-wrapper .upload-wrapper:hover .overlay-wrapper {
            width: 100;
            height: 100;
            background-color: blue;
            z-index: 2;
        }

        #swt-admin-editor .media-collection-wrapper {
            justify-content: center;
            position: absolute;
            width: 88%;
            top: 50%;
            left: 50%;
            background: #fff;
            transform: translate(-50%, -50%);
            padding: 10px;
        }

        #root .media-wrapper .upload-wrapper span {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }

        #root .media-wrapper .upload-wrapper span.icon-wrapper {
            font-size: 50px;
            color: rgb(11, 189, 11);
        }

        #root .media-wrapper .upload-wrapper span.sub-title {
            font-size: 25px;
        }

        #root .media-wrapper .upload-wrapper span.description {
            font-size: 13px;
            color: #898989
        }